<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Alkamous.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <Alkamous.Properties.Settings>
            <setting name="ServerName" serializeAs="String">
                <value>LocalHost</value>
            </setting>
            <setting name="Database" serializeAs="String">
                <value>DBMS</value>
            </setting>
            <setting name="Userid" serializeAs="String">
                <value>UserName</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value>Password</value>
            </setting>
            <setting name="IsLogin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value>User</value>
            </setting>
            <setting name="ExportPath" serializeAs="String">
                <value>DefaultPath</value>
            </setting>
        </Alkamous.Properties.Settings>
    </userSettings>
</configuration>